openapi: 3.0.3
info:
  title: IceCream
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://ice.dadabayev.uz'
paths:
  /api/caterogies/new:
    post:
      summary: 'create caterogy'
      operationId: createCaterogy
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Caterogies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: est
              required:
                - name
      security: []
  /api/caterogies/get:
    get:
      summary: 'get caterogies'
      operationId: getCaterogies
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  result: []
                properties:
                  result:
                    type: array
                    example: []
      tags:
        - Caterogies
      security: []
  /api/caterogies/edit:
    put:
      summary: 'update caterogy'
      operationId: updateCaterogy
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Caterogies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: ea
              required:
                - name
      security: []
  /api/nbu/save:
    get:
      summary: ''
      operationId: getApiNbuSave
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  result: 'NBU saved successfully'
                properties:
                  result:
                    type: string
                    example: 'NBU saved successfully'
      tags:
        - Endpoints
      security: []
  /api/exchanges/new:
    post:
      summary: 'create exchange'
      operationId: createExchange
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"result\": \"Exchange created successfully\",\n}"
      tags:
        - Exchanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: 'The id of the product.'
                  example: 1
                partner_id:
                  type: integer
                  description: 'The id of the partner.'
                  example: 1
                value:
                  type: integer
                  description: 'The value of the exchange.'
                  example: 1000
              required:
                - product_id
                - partner_id
                - value
      security: []
  /api/exchanges/edit:
    put:
      summary: 'update exchange'
      operationId: updateExchange
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"result\": \"Exchange updated successfully\",\n}"
      tags:
        - Exchanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the exchange.'
                  example: 1
                product_id:
                  type: integer
                  description: 'nullable The id of the product.'
                  example: 1
                partner_id:
                  type: integer
                  description: 'nullable The id of the partner.'
                  example: 1
                value:
                  type: integer
                  description: 'nullable The value of the exchange.'
                  example: 1000
              required:
                - id
      security: []
  /api/exchanges/delete:
    delete:
      summary: 'delete exchange'
      operationId: deleteExchange
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"result\": \"Exchange deleted successfully\",\n}"
      tags:
        - Exchanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the exchange.'
                  example: 1
              required:
                - id
      security: []
  /api/exchanges/downpdf:
    get:
      summary: 'download exchanges'
      operationId: downloadExchanges
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: '500 Error Server'
                properties:
                  data:
                    type: string
                    example: '500 Error Server'
      tags:
        - Exchanges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the partner.'
                  example: 1
                from_date:
                  type: string
                  description: 'The from_date of the exchange.'
                  example: '2023-06-15 00:00'
                to_date:
                  type: string
                  description: 'The to_date of the exchange.'
                  example: '2023-06-15 00:00'
              required:
                - id
                - from_date
                - to_date
      security: []
  /api/partners/new:
    post:
      summary: 'create partner'
      operationId: createPartner
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Partners
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the partner.'
                  example: 'John Doe'
                phone_number:
                  type: string
                  description: 'nullable The phone number of the partner.'
                  example: '998901234567'
                address:
                  type: string
                  description: 'nullable The address of the partner.'
                  example: '123, Main Street, New York'
              required:
                - name
      security: []
  /api/partners/get:
    post:
      summary: 'get all partners'
      operationId: getAllPartners
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n   \"result\": [\n      {\n         \"id\": 1,\n        \"name\": \"John Doe\",\n       \"phone_number\": \"998901234567\",\n      \"address\": \"123, Main Street, New York\",\n     \"type\": \"debtor\",\n    \"created_at\": \"2023-06-02T22:23:36.000000Z\",\n    \"updated_at\": \"2023-06-02T22:23:36.000000Z\"\n},\n\"debts\": 0,\n\"right\": 0,\n]\n}"
      tags:
        - Partners
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: 'nullable The type of the partner.'
                  example: 'debtor or partner'
                id:
                  type: integer
                  description: 'nullable The id of the partner.'
                  example: 1
                from_date:
                  type: date
                  description: 'nullable The from date of the partner.'
                  example: '2023-06-02'
                to_date:
                  type: date
                  description: 'nullable The to date of the partner.'
                  example: '2023-06-03'
      security: []
  /api/partners/edit:
    put:
      summary: 'update partner'
      operationId: updatePartner
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Partners
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the partner.'
                  example: 1
                name:
                  type: string
                  description: 'The name of the partner.'
                  example: 'John Doe'
                phone_number:
                  type: string
                  description: 'nullable The phone number of the partner.'
                  example: '998901234567'
                address:
                  type: string
                  description: 'nullable The address of the partner.'
                  example: '123, Main Street, New York'
              required:
                - id
                - name
      security: []
  /api/partners/delete:
    delete:
      summary: 'delete partner'
      operationId: deletePartner
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Partners
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the partner.'
                  example: 1
              required:
                - id
      security: []
  '/api/products/get{id}':
    post:
      summary: 'Get all products'
      operationId: getAllProducts
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Products
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Optional parameter. The ID of the .'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: eaque
  /api/products/edit:
    put:
      summary: 'Update product'
      operationId: updateProduct
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the product.'
                  example: 1
                caterogy_id:
                  type: integer
                  description: 'nullable The id of the caterogy.'
                  example: 1
                name:
                  type: string
                  description: 'nullable The name of the product.'
                  example: 'Product 1'
                price:
                  type: integer
                  description: 'nullable The price of the product.'
                  example: 100
                count:
                  type: integer
                  description: 'nullable The count of the product.'
                  example: 100
                type_id:
                  type: integer
                  description: 'nullable The id of the type.'
                  example: 1
                is_active:
                  type: boolean
                  description: 'nullable The status of the product.'
                  example: true
              required:
                - id
      security: []
  /api/settings/get:
    get:
      summary: 'Get all settings'
      operationId: getAllSettings
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  result: []
                properties:
                  result:
                    type: array
                    example: []
      tags:
        - Settings
      security: []
tags:
  -
    name: Caterogies
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Exchanges
    description: ''
  -
    name: Partners
    description: ''
  -
    name: Products
    description: ''
  -
    name: Settings
    description: ''
